@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

body {
    background-color: rgb(255, 245, 170);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

section {
    width: 100%;
    max-width: 60%;
    min-height: 60%;
    padding: 2rem;
    background-color: white
}

.instructions {
    color: black;
}

.off-screen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.error-message {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
}